/* Réinitialisation des styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles généraux */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* 2 divs principales (menu gauche et map) */
main {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.left {
  width: 25%;
  background-color:#696f75;
}

.right {
  flex-grow: 1;
  background-color: #8cb0d4;
}


h1, h2 {
  text-align: center;
  margin: 10px;
}

form {
  display: grid;
  justify-content: stretch;
  margin-bottom: 20px;
}


label {
  margin: 5px;
  text-align: center;
  font-size: 1.2rem;
}

#map{
  position: sticky;
}
input[type="text"], input[type="submit"], #resetZoom {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  margin: 5px;
}

input[type="submit"], #resetZoom{
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

#hide_reset{
  justify-content: stretch;
  display: grid;
}